* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.profile {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

html,
body,
header,
#intro {
  height: 100%;
}

#intro {
  background: url("../images/Nevis.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
